<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luck.picture.lib2">

    <application android:theme="@style/AppTheme">

        <provider
            android:name="com.luck.picture.lib2.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.luck.picture.lib2.PictureSelectorActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.luck.picture.lib2.PicturePreviewActivity" />
        <activity
            android:name="com.luck.picture.lib2.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name="com.luck.picture.lib2.PictureExternalPreviewActivity" />
        <activity android:name="com.yalantis.ucrop2.UCropActivity" />
        <activity android:name="com.yalantis.ucrop2.PictureMultiCuttingActivity" />
        <activity android:name="com.luck.picture.lib2.PicturePlayAudioActivity" />


    </application>

</manifest>